.contact-wrap {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.contact {
    padding: 1rem;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.contact h2 {
    font-size: 3rem;
}

.contact h2, .contact h3 {
    letter-spacing: 2px;
}

.contact h3 {
    font-size: 2rem;
}

.contact .lower {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    height: 100%;
}

.contact .ancBtn {
    letter-spacing: 1.2px;
    font-style: italic;
    width: 50%;
}

.contact .ancBtn:nth-of-type(even) {
    justify-self: end;
}

.contact .upper ul {
    display: flex;
    justify-content: space-evenly;
}

.contact .upper ul li, .contact .upper h3, .contact .upper h2 {
    position: relative;
    z-index: 1;
    margin: 0.25rem 0;
}

@media only screen and (max-width: 770px) {

    .contact-wrap {
        align-items: center;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .contact .lower {
        height: unset;
    }
}
